###########################
# MYSQL / ZABBIX DATABASE #
###########################

MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=zabbix
MYSQL_USER=zabbix
MYSQL_PASSWORD=CHANGE_ME

###########################
# ZABBIX WEB              #
###########################

PHP_TZ=Europe/Paris
