###########################
# MYSQL / ZABBIX DATABASE #
###########################

MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_DATABASE=zabbix
MYSQL_USER=zabbix
MYSQL_PASSWORD=CHANGE_ME

###########################
# ZABBIX WEB              #
###########################

PHP_TZ=Europe/Paris

###########################
# IMAGE VERSIONS          #
###########################

MYSQL_VERSION=8.0
ZABBIX_VERSION=ubuntu-7.0-latest
NGINX_VERSION=stable-alpine
